.define-settings-view label[for="folder-input"] {
    cursor: pointer;
}

.define-settings-view #folder-input {
    display: none;
}

.define-settings-view.exiting {
    animation:
        fade-out calc(var(--transition-duration) * 1ms) forwards,
        slide-to-bottom calc(var(--transition-duration) * 1ms) forwards;
}
